@tailwind base;
@tailwind components;
@tailwind utilities;

@primary-color: #09ea4c;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  scroll-behavior: smooth;
}

@keyframes blink {
  0% {
    opacity: 1;
    scale: 1;
  }

  50% {
    opacity: 0.6;
    scale: 1.10;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

.blinking-animation {
  animation: blink 1s infinite;
}

.galleryLayout {
  width: 100%;
  columns: 4;
  column-gap: 1.5rem;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: #09ea4c;
  transform-origin: 0%;
  z-index: 999999;
}

.custom-card {
  transition: transform .8s ease-in;
  overflow: hidden;
  position: relative;

}

.card-content {
  padding: 20px;
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  color: #fff;
  transition: bottom .6 ease-in;
}

.card-overlay {
  display: none;
  transition: overlay 0.6s ease-in;
}

.card-img {
  transform: scale(1.15);
}

.custom-card:hover {
  .card-img {
    transform: scale(1.30);
    transition: transform .8s ease-out;
    transform-origin: center;
  }

  .card-overlay {
    display: block;
    transition: overlay 0.6s ease-out;
  }

  .card-content {
    bottom: 0;
    z-index: 99;
    transition: bottom 0.6s ease-out;
    text-transform: uppercase;

  }
}

.custom-select .anticon {
  color: #09ea4c;
  font-size: 100px;
}

.custom-select .ant-select-selection-placeholder {
  color: #000000;
  text-transform: uppercase;
}

.custom-picker .ant-picker-input>input::placeholder {
  color: #000;
}

.custom-input .ant-input::placeholder {
  color: #000000;
  text-transform: uppercase;
}

@media (max-width: 1120px) {
  .galleryLayout {
    width: 100%;
    columns: 3;
    column-gap: 1rem;
  }
}

@media (max-width: 768px) {
  .galleryLayout {
    width: 100%;
    columns: 2;
    column-gap: .6rem;
  }
}