@tailwind base;
@tailwind components;
@tailwind utilities;

@primary-color: #09ea4c;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  scroll-behavior: smooth;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: #09ea4c;
  transform-origin: 0%;
  z-index: 999999;
}

.custom-card {
  transition: transform .8s ease-in;
  overflow: hidden;
  position: relative;

}

.card-content {
  padding: 20px;
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  color: #fff;
  transition: bottom .6 ease-in;
}

.card-overlay {
  display: none;
  transition: overlay 0.6s ease-in;
}

.custom-card:hover {
  .card-img {
    transform: scale(1.15);
    transition: transform .8s ease-out;
    transform-origin: center;
  }

  .card-overlay {
    display: block;
    transition: overlay 0.6s ease-out;
  }

  .card-content {
    bottom: 0;
    z-index: 99;
    transition: bottom 0.6s ease-out;
    text-transform: uppercase;

  }
}

.custom-select .anticon {
  color: #09ea4c;
  font-size: 100px;
}

.custom-select .ant-select-selection-placeholder {
  color: #000000;
  text-transform: uppercase;
}

.custom-input .ant-input::placeholder {
  color: #000000;
  text-transform: uppercase;
}