@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

/* @primary-color: #FFD20A; */
@primary-color: #FFD20A;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #FFD20A;
  border-radius: 12px;
  padding-top: 30px;
}

::-webkit-scrollbar-track {
  background: #b4ffcb
}


@keyframes blink {
  0% {
    opacity: 1;
    scale: 1;
  }

  50% {
    opacity: 0.6;
    scale: 1.10;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

.blinking-animation {
  animation: blink 1s infinite;
}

.galleryLayout {
  width: 100%;
  columns: 4;
  column-gap: 1.5rem;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: #FFD20A;
  transform-origin: 0%;
  z-index: 999999;
}

.custom-card {
  transition: transform .8s ease-in;
  overflow: hidden;
  position: relative;

}

.card-content {
  padding: 20px;
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  color: #fff;
  transition: bottom .6 ease-in;
}

.card-overlay {
  display: none;
  transition: overlay 0.6s ease-in;
}

.card-img {
  transform: scale(1.15);
}

.custom-card:hover {
  .card-img {
    transform: scale(1.30);
    transition: transform .8s ease-out;
    transform-origin: center;
  }

  .card-overlay {
    display: block;
    transition: overlay 0.6s ease-out;
  }

  .card-content {
    bottom: 0;
    z-index: 99;
    transition: bottom 0.6s ease-out;
    text-transform: uppercase;

  }
}

.imgGalleryContent {
  transition: overlay 0.6s ease-in;
  cursor: pointer;
}

.hover-effect {
  display: none;
}

.imgGalleryContent:hover {
  .hover-effect {
    display: inline;
    transition: overlay 0.6s ease-in;
  }
}

.custom-select .anticon {
  color: #FFD20A;
  font-size: 100px;
}

.custom-select .ant-select-selection-placeholder {
  color: #000000;
  text-transform: uppercase;
}

.custom-picker .ant-picker-input>input::placeholder {
  color: #000;
}

.custom-input .ant-input::placeholder {
  color: #000000;
  text-transform: uppercase;
}

.custom-head-text {
  font-family: "Oswald", sans-serif;
}

.custom-sub-text {
  font-family: 'Work Sans', sans-serif;
}

.fancy {
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image:
      url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23FFD20A'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 110% auto;
    background-position: center;
    font-size: 6rem;
    font-weight: 800;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}


.hero-banner__stroked-title {
  color: transparent;
  -webkit-text-stroke: 2px white;
}

.custom-placeholder::placeholder {
  color: #4dff82 !important;
  font-size: 15px;
  font-weight: 600;
}


.custom-card-element {
  border: 1px solid #d9d9d9;
  padding: 10px;
  border-radius: 4px;
  transition: border-color 0.3s;

  &:focus-within {
    border-color: #FFD20A;
  }
}


@media (max-width: 1024px) {
  .galleryLayout {
    width: 100%;
    columns: 3;
    column-gap: 1rem;
  }

  .fancy {
    font-size: 3.75rem;
  }
}

.bordered {
  border: 3px solid #FFF;
}

@media (max-width: 768px) {
  .galleryLayout {
    width: 100%;
    columns: 2;
    column-gap: .6rem;
  }

  .fancy {
    font-size: 3.75rem;
  }
}